header.header
  .header-top
    .container
      .row
        .col-md-3.d-flex.align-items-center
          .header-logo
            h1 Алмаз логистик
        .col-md-6.d-flex.align-items-center.text-center
          nav.header-menu.w-100
            ul
              li
                a(href="", class="active") Услуги
              li
                a(href="") О складе
              li
                a(href="") Галерея
              li
                a(href="") Контакты
        .col-md-3.d-flex.align-items-center
          .header-phone 8(926)354 22 22
  .header-center
    .container
      .row
        .col-sm-12.col-md-6.offset-md-3
          .header-description-main Услуги ответственного хранения для малого и среднего бизнеса
      .row
        .col-sm-12.col-md-8.offset-md-2
          .header-description Новый технологичный склад класса А площадью 5000 м2
      .row
        .col
          .header-button.text-center
            a(href="").btn.btn-outline-light Оставить заявку
  .header-bottom
    .container
      .row
        .col.text-center
          .header-button-arrow#headerButtonId
            i.fa.fa-chevron-down
