header.header
  .header-top#header-top-id
    .header-top--wrapper
      .container-fluid
        .row
          .col-10.col-md-3.d-flex.align-items-center.pr-0
            .header-logo
              h1 Алмаз логистик
          .col-2.col-md-6.position-static.d-flex.align-items-center
            nav.header-menu.w-100#nav
              ul
                li#serviceLink
                  a(href="#") Услуги
                li#aboutLink
                  a(href="#") О складе
                li#galleryLink
                  a(href="#") Галерея
                li#contactsLink
                  a(href="#") Контакты
            .hamburger-menu#hamburger
              i
          .col-md-3
            .header-phone 8(926) 354-22-22
  .header-center
    .container
      .row
        .col-12.col-md-10.offset-md-1.col-lg-6.offset-lg-3
          .header-description-main Услуги ответственного хранения для малого и среднего бизнеса
      .row
        .col-12.col-md-10.offset-md-1.col-lg-8.offset-lg-2
          .header-description Новый технологичный склад класса А площадью <b>5000</b> м2
      .row
        .col
          .header-button.text-center
            a(href="#").btn.btn-outline-light#callLink Оставить заявку
  .header-bottom
    .container
      .row
        .col.text-center
          .header-button-arrow#headerButtonId
            i.fa.fa-chevron-down
