<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")    
    title Алмаз-Логистик
  body.main#mainId
    include includes/sections/single-header.pug
    include includes/sections/single-content.pug
    include includes/footer.pug