html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #273039;
}
h3 {
  margin-top: 0;
  margin-bottom: 70px;
  font-size: 40px;
  color: #2c3e50;
  text-transform: uppercase;
  text-align: center;
}
section {
  padding-top: 80px;
}
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
  box-shadow:none;
}