footer {
  background-color: #34495e;
  .copyright {
    height: 100px;
    color: #fff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  }
}