header {
  background: url('../images/warehouse.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ecf0f1;
  text-transform: uppercase;
  min-height: 500px;
  .header-top {
    position: absolute;
    top: 30px;
    width: 100%;
    .header-top--wrapper {
      margin: 0 auto;
      max-width: 1600px;
    }
    &.fixed {
      position: fixed;
      background-color: #fff;
      z-index: 100;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
      top: 0;
      padding: 10px 0;
      h1 {
        color: #2c3e50;
      }
      nav {
        color: #2c3e50;
        a {
          color: #34495e;
          &:hover {
            color: rgba(52, 73, 94, .8);
            &:after {
              background-color: rgba(52, 73, 94, .8);
            }
          }
        }
        a.active {
          color: #2c3e50;
        }
      }
      .header-phone {
        color: #2c3e50;
      }

    }
    .header-logo {
      text-align: left;
      h1 {
        font-size: 28px;
        font-weight: 600;
      }
    }
    nav {
      text-align: center;
      font-size: 20px;
      ul {
        li {
          display: inline-block;
          margin-left: 16px;
          a.active {
            color: #ecf0f1;
          }
          a {
            color: #bdc3c7;
            text-decoration: none;
            transition: color ease .3s;
            position: relative;
            &:hover {
              color: #ecf0f1;
              &:after {
                width: 100%;
              }
            }
            &:after {
              transition: all ease .3s;
              content: '';
              display: block;
              width: 0;
              height: 1px;
              margin: auto;
              background-color: #ecf0f1;
            }
          }
  
        }
      }
    }

    .header-phone {
      text-align: right;
      font-size: 28px;
      font-weight: 400;
    }
  
  }

  .header-center {
    color: #fff;
    b {
      font-weight: 600;
      font-size: 32px;
      color: #27ae60;
    }
    .header-description-main{
      font-size: 32px;
      text-align: center;
      margin-bottom: 16px;
      font-weight: 600;
    }
    .header-description {
      letter-spacing: 1.5px;
      text-align: center;
      text-transform: none;
      font-size: 24px;

    }
    .header-button {
      margin-top: 30px;
      a {
        padding: 10px 40px;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }

  .header-bottom {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    .header-button-arrow {
      // border: 1px solid#bdc3c7;;
      display: inline-block;
      padding: 5px;
      margin-bottom: 0px;
      font-size: 40px;
      width: 60px;
      height: 60px;
      position: relative;
      cursor: pointer;
      color: #bdc3c7;
      transition: color ease .3s;
      &:hover {
        color: #fff;
      }
      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
      }
    }
  }
  
}