header {
  background: url('../images/warehouse.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ecf0f1;
  text-transform: uppercase;
  min-height: 500px;
  .header-top {
    position: absolute;
    top: 30px;
    width: 100%;
    @media (max-width: 767px) {
      top: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #fff;
    }
    .hamburger-menu {
      display: none;
      cursor: pointer;
      right: 0;
      position: absolute;
      margin-right: 16px;
      @media (max-width: 767px) {
        display: inline-block;
      }
        i {
        width: 30px;
        height: 3px;
        display: inline-block;
        position: relative;
        background-color: #2c3e50;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        &:before,
        &:after {
          content: '';
          display: inline-block;
          width: 30px;
          height: 3px;
          background-color: #2c3e50;
          position: absolute;
          left: 0;
          // transition: transform .3s ease;
          }
        &:before {
          top: 8px
        }
        &:after {
          top: -8px
        }

      }
      &.active {
        i {
          background-color: #fff;
          &:before {
            top: 0;
            transform: rotate(45deg);
          }
          &:after {
            top: 0;
            transform: rotate(-45deg);
          }
        }

      }
    }
    .header-top--wrapper {
      margin: 0 auto;
      max-width: 1600px;
    }
    &.fixed {
      position: fixed;
      background-color: #fff;
      z-index: 100;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
      top: -1px;
      padding: 10px 0;
      h1 {
        color: #2c3e50;
      }
      nav {
        color: #2c3e50;
        a {
          color: #34495e;
          &:hover {
            color: rgba(52, 73, 94, .8);
            &:after {
              background-color: rgba(52, 73, 94, .8);
            }
          }
        }
        a.active {
          color: #2c3e50;
        }
      }
      .header-phone {
        color: #2c3e50;
      }

    }
    .header-logo {
      text-align: left;
      h1 {
        font-size: 28px;
        font-weight: 600;
        @media (max-width: 1200px) {
          font-size: 26px;
        }
        @media (max-width: 992px) {
          font-size: 24px;
        }
        @media (max-width: 905px) {
          font-size: 20px;
        }
        @media (max-width: 767px) {
          color: #2c3e50;
        }

      }
    }
    nav {
      text-align: center;
      font-size: 20px;
      transition: all .3s ease;
      @media (max-width: 1199px) {
        font-size: 20px;
      }
      @media (max-width: 991px) {
        font-size: 16px;
        ul {
          li {
            // margin-left: 14px !important;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      @media (max-width: 767px) {
        display: block;
        position: absolute;
        height: 100%;
        z-index: 100;
        left: 0;
        display: none;
        top: -100%;
        opacity: 0;
        &.in {
          top: 100%;
          display: block;
          opacity: 1;
        }
        ul {
          background-color: #fff;
          // box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.15);
          li {
            background-color: #fff;
            display: block !important;
            padding: 15px 0;
            margin-left: 0 !important;
            cursor: pointer;

            &:last-child {
              padding-bottom: 15px;
            }
            a {
              color: #2c3e50 !important;
              &:after {
                display: none !important;
              }
            }
          }
        }
      }

    ul {
        li {
          display: inline-block;
          margin-left: 16px;
          a.active {
            color: #ecf0f1;
          }
          a {
            color: #bdc3c7;
            text-decoration: none;
            transition: color ease .3s;
            position: relative;
            &:hover {
              color: #ecf0f1;
              &:after {
                width: 100%;
              }
            }
            &:after {
              transition: all ease .3s;
              content: '';
              display: block;
              width: 0;
              height: 1px;
              margin: auto;
              background-color: #ecf0f1;
            }
          }
        }
      }
    }

    .header-phone {
      text-align: right;
      font-size: 28px;
      font-weight: 400;
      @media (max-width: 1199px) {
        font-size: 26px;
      }
      @media (max-width: 991px) {
        font-size: 22px;
      }
      @media (max-width: 767px) {
        display: none;
      }

  }
  
  }

  .header-center {
    color: #fff;
    b {
      font-weight: 600;
      font-size: 32px;
      color: #27ae60;
    }
    .header-description-main{
      font-size: 32px;
      text-align: center;
      margin-bottom: 16px;
      font-weight: 600;
      @media (max-width: 1200px) {
        font-size: 26px;
      }
      @media (max-width: 992px) {
        font-size: 24px;
      }
    }
    .header-description {
      letter-spacing: 1.5px;
      text-align: center;
      text-transform: none;
      font-size: 24px;
      @media (max-width: 1200px) {
        font-size: 22px;
      }
      @media (max-width: 992px) {
        font-size: 20px;
      }    }
    .header-button {
      margin-top: 30px;
      a {
        padding: 10px 40px;
        font-weight: 400;
        font-size: 18px;
        @media (max-width: 1199px) {

        }
        @media (max-width: 991px) {
        }
        @media (max-width: 767px) {
          padding: 10px 20px;
          font-size: 16px;
        }
  
      }
    }
  }

  .header-bottom {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    .header-button-arrow {
      // border: 1px solid#bdc3c7;;
      display: inline-block;
      padding: 5px;
      margin-bottom: 0px;
      font-size: 40px;
      width: 60px;
      height: 60px;
      position: relative;
      cursor: pointer;
      color: #bdc3c7;
      transition: color ease .3s;
      @media (max-width: 1199px) {
        font-size: 35px;
      }
      @media (max-width: 991px) {
        font-size: 30px;
      }
      @media (max-width: 767px) {
        font-size: 25px;
      }

      &:hover {
        color: #fff;
      }
      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
      }
    }
  }
  
}