//services
.services {
  .card {
    text-align: center;
    border: none;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    height: 250px;
    overflow: hidden;
    padding: 20px;
    transition: all ease .3s;
    &:hover {
      transform: scale(1.05);
      background-color: #ecf0f1;
    }
    img {
      margin: 20px auto 0;
    }
    .card-image {
      width: 110px;
    }
    .card-text {
      font-size: 20px;
      font-weight: 600;
    }

  }
}

//about
.about {
  .about-block {
    margin-top: 50px;
    background: url('../images/cara1.jpg');
    background-position: center center;
    background-size: cover;

  }
  .about-tab {
    margin-top: 70px;
    margin-bottom: 250px;
    position: relative;
    li {
      background-color: #ecf0f1;
      margin-bottom: 46px;
      padding-left: 46px;
      padding-right: 20px;
      line-height: 60px;
      box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all ease .3s;
      font-size: 22px;
      text-transform: uppercase;
      &:hover {
        background-color: #ccc;
      }
      i.fa {
        opacity: 0;
        font-size: 30px;
        color: #2c3e50;
        transition: inherit;
      }
      // &:hover {
      //   i.fa {
      //     opacity: 1;
      //   }
      // }
      &.active {
        color: #fff;
        background-color: #7f8c8d;
        i.fa {
          opacity: 1;
          display: inline-block;
          color: #fff;
          font-size: 30px;
        }    
      }
    
    }
  }
  .about-tab__card {
    background-color: #fff;
    padding: 25px 10px 10px 45px;
    position: absolute;
    font-size: 18px;
    top: 200px;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
    visibility: hidden;
    &:first-child {
      visibility: visible;
    }
    ul {
      li {
        margin-bottom: 16px;
        position: relative;
        i.fa {
          position: absolute;
          left: -25px;
          top: 8px;
          color: #27ae60;
          font-size: 14px;  
        }
      }
    }
  }
  .about-advantages {
    text-align: center;
    margin-top: 120px;
    .card {
      padding: 60px 0;
      font-size: 28px;
      box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.15);
      .card-subtitle {
        b {
          font-weight: 600;
          font-size: 48px;
          color: #44bd32;
        }
      }
    }
    .col-md-4:nth-child(2) {
      .card {
        transform: scale(1.2);
        z-index: 2;
      }

    }
  }
}