section.about#aboutId
  h3.text-center О складе
  .container
    .row
      .col-md-8.offset-md-2
        p Склад класса А «Алмаз-Логистик» расположен в 1 км. от ФудСити на территории технопарка «Индиго». Наш комплекс спроектирован, построен и оборудован с учетом новейших технологий и предлагает полный комплекс услуг ответственного хранения на высшем уровне. 
        p Деятельность компании «Алмаз-Логистик» ориентирована на индивидуальный подход к потребностям клиента и инновационные решения в области хранения и обработки товаров, что позволяет значительно повысить качество обслуживания.
        p Гибкое ценообразование, учитывающее бизнес-процессы и потребности клиента, позволит значительно снизить Ваши затраты на логистику. 
        p Высококвалифицированный персонал, имеющий опыт работы с различными наименованиями товаров, современное оборудование и автоматизированная система управления складом (WMS) обеспечит не только сохранность груза, но и его своевременную и качественную обработку в соответствии с пожеланиями клиентов.
  .about-block#aboutBlockId
    .container
      .row
        .col-md-6
          .ul(class="about-tab", id="aboutTabId")
            li(data-item='0', class="about-tab__item active")
              span Почему мы?
              i.fa.fa-caret-right
            li(data-item='1', class="about-tab__item") 
              span Безопасность
              i.fa.fa-caret-right
            li(data-item='2', class="about-tab__item") 
              span Оснащение складского комплекса
              i.fa.fa-caret-right
            li(data-item='3', class="about-tab__item") 
              span WMS система нового поколения
              i.fa.fa-caret-right
            li(data-item='4', class="about-tab__item") 
              span Коммерческое предложение
              i.fa.fa-caret-right
        .col-md-6
          .about-tab__card(data-item='target-0')
            ul
              li
                i.fa.fa-square 
                | Минимизация издержек хранения – Вы оплачиваете за хранение только за тот объем товара, который в данный момент находится на складе;
              li
                i.fa.fa-square 
                | Отпадает необходимость иметь свой штат персонала – груз обслуживается высококвалифицированными сотрудниками нашей компании, что приводит к снижению налогового бремени и различного рода рисков;
              li
                i.fa.fa-square 
                | Ответственность за ТМЦ лежит на нас – в случае его утери ее компенсируем мы;
              li
                i.fa.fa-square 
                | Отсутствует необходимость закупки необходимого  оборудования – транспорта, все это есть у нас;
              li
                i.fa.fa-square 
                | Отсутствие необходимости оплаты – коммунальных  платежей, заработной платы, отчислений с нее, аренды и охраны склада так как данные затраты включены в стоимость услуг;
              li
                i.fa.fa-square 
                | Возможность увеличения складских площадей;
          .about-tab__card(data-item='target-1') 
            ul
              li
                i.fa.fa-square 
                | Минимизация издержек хранения – Вы оплачиваете за хранение только за тот объем товара, который в данный момент находится на складе;
              li
                i.fa.fa-square 
                | Отпадает необходимость иметь свой штат персонала – груз обслуживается высококвалифицированными сотрудниками нашей компании, что приводит к снижению налогового бремени и различного рода рисков;
              li
                i.fa.fa-square 
                | Ответственность за ТМЦ лежит на нас – в случае его утери ее компенсируем мы;
              li
                i.fa.fa-square 
                | Отсутствует необходимость закупки необходимого  оборудования – транспорта, все это есть у нас;
              li
                i.fa.fa-square 
                | Отсутствие необходимости оплаты – коммунальных  платежей, заработной платы, отчислений с нее, аренды и охраны склада так как данные затраты включены в стоимость услуг;
              li
                i.fa.fa-square 
                | Возможность увеличения складских площадей;
          .about-tab__card(data-item='target-2') 
            ul
              li
                i.fa.fa-square 
                | Минимизация издержек хранения – Вы оплачиваете за хранение только за тот объем товара, который в данный момент находится на складе;
              li
                i.fa.fa-square 
                | Отпадает необходимость иметь свой штат персонала – груз обслуживается высококвалифицированными сотрудниками нашей компании, что приводит к снижению налогового бремени и различного рода рисков;
              li
                i.fa.fa-square 
                | Ответственность за ТМЦ лежит на нас – в случае его утери ее компенсируем мы;
              li
                i.fa.fa-square 
                | Отсутствует необходимость закупки необходимого  оборудования – транспорта, все это есть у нас;
              li
                i.fa.fa-square 
                | Отсутствие необходимости оплаты – коммунальных  платежей, заработной платы, отчислений с нее, аренды и охраны склада так как данные затраты включены в стоимость услуг;
              li
                i.fa.fa-square 
                | Возможность увеличения складских площадей;
          .about-tab__card(data-item='target-3') 
            ul
              li
                i.fa.fa-square 
                | Минимизация издержек хранения – Вы оплачиваете за хранение только за тот объем товара, который в данный момент находится на складе;
              li
                i.fa.fa-square 
                | Отпадает необходимость иметь свой штат персонала – груз обслуживается высококвалифицированными сотрудниками нашей компании, что приводит к снижению налогового бремени и различного рода рисков;
              li
                i.fa.fa-square 
                | Ответственность за ТМЦ лежит на нас – в случае его утери ее компенсируем мы;
              li
                i.fa.fa-square 
                | Отсутствует необходимость закупки необходимого  оборудования – транспорта, все это есть у нас;
              li
                i.fa.fa-square 
                | Отсутствие необходимости оплаты – коммунальных  платежей, заработной платы, отчислений с нее, аренды и охраны склада так как данные затраты включены в стоимость услуг;
              li
                i.fa.fa-square 
                | Возможность увеличения складских площадей;
          .about-tab__card(data-item='target-4') 
            ul
              li
                i.fa.fa-square 
                | Минимизация издержек хранения – Вы оплачиваете за хранение только за тот объем товара, который в данный момент находится на складе;
              li
                i.fa.fa-square 
                | Отпадает необходимость иметь свой штат персонала – груз обслуживается высококвалифицированными сотрудниками нашей компании, что приводит к снижению налогового бремени и различного рода рисков;
              li
                i.fa.fa-square 
                | Ответственность за ТМЦ лежит на нас – в случае его утери ее компенсируем мы;
              li
                i.fa.fa-square 
                | Отсутствует необходимость закупки необходимого  оборудования – транспорта, все это есть у нас;
              li
                i.fa.fa-square 
                | Отсутствие необходимости оплаты – коммунальных  платежей, заработной платы, отчислений с нее, аренды и охраны склада так как данные затраты включены в стоимость услуг;
              li
                i.fa.fa-square 
                | Возможность увеличения складских площадей;
  
  .about-advantages
    .container
      .row
        .col-md-4
          .card
            .card-body
              .card-title Площадь склада
              .card-subtitle 
                b 5000 
                | кв.м
        .col-md-4
          .card
            .card-body
              .card-title Единиц техники
              .card-subtitle 
                b 50 
        .col-md-4
          .card
            .card-body
              .card-title Площадь стелажей
              .card-subtitle 
                b 7830 
                | п.м