section.call#callId
  h3.text-center Оставить заявку
  .container
    form(id="contact-form")
      .form-row
        .form-group.col-md-5.offset-md-1
          input(type="text", name="name", class="form-control required", placeholder="Имя", id="name")
          .invalid-feedback *Это поле обязательно для заполнения
        .form-group.col-md-5
          input(type="text", name="company",class="form-control", placeholder="Компания", id="company")
      .form-row
        .form-group.col-md-5.offset-md-1
          input(type="text", name="phone", class="form-control required", placeholder="Телефон", id="phone")
          .invalid-feedback *Это поле обязательно для заполнения
        .form-group.col-md-5
          input(type="text", name="mail", class="form-control", placeholder="Почта", id="mail")
      .form-row
        .col-md-10.offset-md-1
          textarea(rows="6", name="comments", class="form-control", placeholder="Комментарии", id="coments")
      .form-row
        .col.text-center
          .button-wrapper
            button(type="submit", name="", class="btn btn-light") 
              span.button-text Отправить
            span.spinner
              i.fa.fa-spinner.rotating