section.single-content
  .container
    .row
      .col-md-8.offset-md-2
        h3.text-center Ответственное хранение (стеллажное, напольное)
  .container
    .row
      .col-md-8.offset-md-2
        p Склад класса А «Алмаз-Логистик» расположен в 1 км. от ФудСити на территории технопарка «Индиго». Наш комплекс спроектирован, построен и оборудован с учетом новейших технологий и предлагает полный комплекс услуг ответственного хранения на высшем уровне. 
        p Деятельность компании «Алмаз-Логистик» ориентирована на индивидуальный подход к потребностям клиента и инновационные решения в области хранения и обработки товаров, что позволяет значительно повысить качество обслуживания.
        p Гибкое ценообразование, учитывающее бизнес-процессы и потребности клиента, позволит значительно снизить Ваши затраты на логистику. 
        p Высококвалифицированный персонал, имеющий опыт работы с различными наименованиями товаров, современное оборудование и автоматизированная система управления складом (WMS) обеспечит не только сохранность груза, но и его своевременную и качественную обработку в соответствии с пожеланиями клиентов.
include ./call